{%extends 'layouts.html' %}
{%block body%}
  <form action="http://127.0.0.1:5000/" method="POST">
    Task: <input type="text" name="task" placeholder="task">
    <input type="submit" name="submit">

  <h1>Tasks to complete:</h1>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Date</th>
      <th scope="col">Completed</th>
      <th scope="col">Finished</th>
    </tr>
  </thead>
  <tbody>
    {% for i in tasks %}
      <tr>
        <td>{{i['task']}}</td>
        <td>{{i['date']}}</td>
        <td>{{i['completed']}}</td>
        <!-- Once you run the complete button is will automatically remove the task from the list-->
        <td><input type="submit" class="btn btn-success" name= "complete" value="Complete: {{i['task']}}"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<input type="submit" class="btn btn-danger" name="delete" value="deleteAll">
</form>
{%endblock%}
